@use "@picocss/pico/scss/pico" with (
  // https://picocss.com/docs/sass#theme-color
  $theme-color: "jade",
  // copied from the pico.classless version
  $enable-semantic-container: true,
  $enable-classes: false,
  // because I'm using #root...
  $semantic-root-element: "#root"
);
@use "@picocss/pico/scss/colors" as *;

a[aria-current]:not([aria-current="false"]).active {
  background-color: $jade-500;
  color: white;
}
